*.DS_Store
*.*~
.#*
*~
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*#
logs
results
*.log
pids
*.pid
*.seed
*.orig
lib-cov
coverage
.grunt
build/Release
/node_modules
/public/unpackage
.idea/*.*
.lock-wscript
.DS_Store