#page_suggested_follow
{
	background-color:rgb(247,247,247);
	width:100%;
	height:auto;
	position:absolute;
	top: 0;
	bottom: 0;
	z-index:2;
	padding:0;
	margin:0;
	font-family: "Microsoft YaHei";
}
body{
	padding:0;
	margin:0;
}
.feed
{
	position: relative;
	float: left;
	background-color: white;
	height:auto;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:10px;
	margin-bottom:8px;
	width:90%;
}
.master-comments
{
	position: relative;
	float: left;
	height:auto;
	width:100%;
}
.master-info
{
	position:relative;
	display: inline-block;
	margin-top:6px;
	height:54px;
	width:100%;
	background:white;
}
.profile
{
	position: relative;
	float: left;
	width:55px;
	height:53px;
}
.master-info .profile img
{
	position:relative;
	float:left;
	height:50px;
	width:50px;
	border-radius:50%;
}
.v
{
	position: absolute;
    z-index: 3;
    width:15px;
    height:15px;
    right:1px;
    bottom:1px;
    background:url(../img/icon.png)no-repeat;
    background-size: 303px 552px;
    background-position:-183px -151px;
}
.info
{
	position:relative;
	float:left;
	width:50%;
	height:50px;
	margin-left:6px;
}
.name
{
	position: relative;
	font-size:16px;
	color:black;
	top:-2px;
}
.info-infor
{
	position:relative;
	top:-6px;
	font-size:10px;
	color:rgb(149,149,149);
} 
.info-infornext
{
	position:relative;
	top: -15px;
	font-size:10px;
	color:rgb(149,149,149);
}
.unit
{
	position: relative;
	font-size: 10px;
	top:-2px;
	margin-left: 6px;
	color:rgb(149,149,149);
} 
.small
{
	font-size:7px;
	color:rgb(149,149,149);
}
.addfollow
{
	position:relative;
	float:right;
	width:33px;
	height:15px;
	line-height: 15px;
	text-align: center;
	border-radius: 4px;
	color: rgb(71,176,199);
	margin-top:8px;
	padding:2px 5px;
	border: solid 1px rgb(71,176,199);
	font-size: 10px;
}
.picture
{
	height:50px;
	background-color: white;
}
.picture img
{
	display: inline-block;
	height: 50px;
	width: 18%;
	margin-right: 2.5%;
}
.picture img:last-child
{
	margin-right: 0;
}
.addfollow,.followed
{
	position:relative;
	float:right;
	top:10px;
	width:33px;
	height:15px;
	line-height: 15px;
	text-align: center;
	border-radius: 4px;
	color: rgb(71,176,199);
	margin-top:8px;
	margin-right: 4.8%;
	padding:2px 5px;
	border: solid 1px rgb(71,176,199);
	font-size: 10px;
}
.followed
{
	color:rgb(149,149,149);
	border: solid 1px rgb(149,149,149);
}