#page_selectIdentity
{
	background-color:rgb(236,236,236);
	width:100%;
	height:auto;
	position:absolute;
	top: 40px;
	bottom: 0;
	z-index:2;
	padding:0;
	margin:0;
	font-family: Microsoft YaHei;
	color:rgb(161,161,161);
}
.finish
{
	position:relative;
	float:left;
	width: 20%;
	height:29px;
	margin-top:6px;
	text-align: center;
	font-size: 17px;
	color:rgb(71,169,199);
}
.varitied
{
	position: relative;
	width:100%;
	height:74px;
	background: white;
	display : flex;
}
.varitied > *{
    flex : 1;
}
.contain
{
	position: relative;
	float: left;
	width: 25%;
	height:74px;
}
.contain:active{
	background:rgb(208,208,208);
}
.view
{
	position: relative;
	margin: auto;
	margin-top:11px;
	height: 53px;
	width:53px;
	background: url(../img/icon.png) no-repeat;
	background-size: 454px 827px;
}
.student
{
    background-position:-192px -94px;
}
.teacher
{
    background-position:-120px -95px;
}
.studio
{
    background-position:-265px -94px;
}
.other
{
    background-position:-341px -94px;
}
.directive{
    display:none;
}
.active .directive
{
    display:block;
	width: 25%;
	height: 32px;
	text-align: center;
	background: transparent;
	margin:auto;
}
.directive i
{
	position: relative;
	font-size: 26px;
	color:rgb(201,201,201);
}
.column
{
	position: relative;
	float: left;
	margin-top: 32px;
	height:36px;
	width:100%;
}
.grade
{
	position: relative;
	background: white;
	height: 35px;
	width: 85px;
	font-size: 20px;
	text-align: center;
	line-height: 35px;
	color:rgb(242,85,96);
}
.grade:active{
	background:rgb(208,208,208);
}
.ing
{
	float:left;
	left: 27px;
}
.next
{
	margin:auto;
}
.ed
{
	float: right;
	right: 27px;
	top:-35px;
}
.selected
{
	border:1px;
}