#page_yibao_noting
{
	position: relative;
	float: left;
	width:100%;
	height:auto;
    font-family: Microsoft Yahei; 
}
#page_yibao_noting .thumbnail
{
	position: relative;
	float:left;
	width:98%;
	margin-left: 1%;
	padding-top:8px;
	height:59px;
	background: white;
	margin-bottom: 2px;
}
#page_yibao_noting .head-portrait
{
	position: relative;
	float:left;
	width:50px;
	height:50px;
	margin-left: 13px;
}
#page_yibao_noting .head-portrait img
{
	position: relative;
	float: left;
	margin-left:3px;
	border-radius: 50%;
}
#page_yibao_noting .noting-dot
{
	position: absolute;
	top:0;
	left:0;
	width:10px;
	height:10px;
	border-radius: 50%;
	background:rgb(235,37,37);
}
#page_yibao_noting .noting-info
{
	position: relative;
	float: left;
	height:auto;
	margin-left:3px;
}
#page_yibao_noting .noting-info .noting-title
{
	position: relative;
	float: left;
	font-size: 14px;
	color:rgb(32,32,32);
	line-height: 28px;
}
#page_yibao_noting .noting-info .noting-brief
{
	position: relative;
	float: left;
	font-size: 10px;
}
#page_yibao_noting .thumbnail .time
{
	position:relative;
	float: right;
	font-size:8px;
	margin-right: 20px;
	color:rgb(125,125,125);
	line-height: 20px;
}