*{
	-webkit-user-select: none;
   	-webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
.display
{
	display:initial;
}
.undisplay
{
	display: none;
}
#page_news
{
	background-color:rgb(236,236,236);
	width:100%;
	height:auto;
	position:absolute;
	top: 0;
	bottom: 0;
	z-index:2;
	padding:0;
	margin:0;
	font-family: "Microsoft YaHei";
}

#page-news-content
{
	position: absolute;
	top:0;
	bottom: 0;
	overflow: scroll;
	width: 100%;
}
#page_news .fa-search
{
	color: rgb(71,176,199);
    font-size: 20px;
    position: relative;
    right: -18px;
    top: 1px;
}
#page_news .tab
{
	height:30px;
	background:white;
	border-bottom: 2px solid rgb(223,223,233);
}
#page_news .tab .active
{
	border-bottom: 2px solid rgb(71,176,199);
	color:rgb(71,176,199);
}
.tab .item
{
	float:left;
	width:33.3%;
	height:28px;
	line-height:28px;
	font-size:13.333px;
	text-align:center;
	color:rgb(172,172,172);
	border-bottom: 0px solid rgb(71,176,199);
}
#page_news .picture
{
	width: 100%;
	height: 174px;
	overflow: hidden;
	position: relative;
	padding:0;
	background-color: white;
}
#page_news .picture img
{
	position: relative;
	top:-30px;
	width: 100%;
}
#page_news .picture .title
{
	position: absolute;
	bottom: 0px;
	color:white;
	font-size: 14px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-indent: 14px;
	background-image: -webkit-linear-gradient(top, rgba(0,0, 0, 0) 0%, rgba(0,0, 0, 1) 100%);
    background-image: -moz-linear-gradient(top, rgba(0,0, 0, 0) 0%, rgba(0,0, 0, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(0,0, 0, 0) 0%, rgba(0,0, 0, 1) 100%);
    background-image: linear-gradient(top, rgba(0,0, 0, 0) 0%, rgba(0,0, 0, 1) 100%);
}
#page_news .brief
{
	background-color: white;
}
#page_news  .subtitle
{
	width: 95%;
	height: auto;
	margin: 2px 17px;
	color: rgb(149,149,149);
	background-color: white;
	font-size: 11px;
}
#page_news hr
{
	margin:0 17px;
	border-top:0.8px solid rgb(221,221,221);
}
#page_news .comment
{
	padding:7px 17px;
	height: 18px;
	color: rgb(149,149,149);
}
#page_news .pageview,#page_news .love,#page_news .collection
{
	float: left;
}
#tab1 .pageview
{
	width:50%;
}
#page_news .love
{
	width:25%;
}
#page_news .collection
{
	width:25%;
}
#page_news .comment i
{
	height: 18px;
	line-height: 18px;
	float:left;
	margin-left:2px;
	font-size:13px;
}
#page_news .comment .text
{
	float:left;
	top:4px;
	font-size:12px;
	height: 18px;
	line-height: 18px;
	margin-left:2px;
}
#page-sidebar-content
{
	position: absolute;
	top: 0;
	bottom: 0;
	height:auto;
	float: left;
	overflow: auto;
	width: 90px;
	background-color: rgb(247,247,247);
}
.listview li,.listview ul
{
	list-style-type: none;
	height: 52.3px;
	line-height: 52.3px;
	text-align: center;
	padding:0;
	margin: 0;
	font-size: 13px;
	background-color:rgb(247,247,247);
	color: rgb(137,137,137);
}
.listview .sidefocused
{
	background-color: white;
	color: rgb(71,176,199);
	border-left:4px solid rgb(71,176,199); 
}
.listview .sideunfocused
{
	background-color: rgb(247,247,247);
	color: rgb(137,137,137);
	border-left:none; 
}
#page_news .consult-bar,#page_news .consult-list .feed
{
	float: left;
	height: 64px;
	width: 100%;
	background-color: white;
	margin-bottom: 1px;
}
#page-consult-content
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 90px;
	right: 0;
	background-color: rgb(226,226,226);
	overflow: auto;
}
.listview .profile
{
	height: 44px;
	width: 44px;
	left:0;
	position:absolute;
	padding: 10px;
}
.listview img
{
	height: 44px;
	width: 44px;
	border-radius: 50%;
}
#page_news .consult-info
{
	position:absolute;
	left:64px;
	right:0;
}
.listview .title
{
	color: black;
    max-width: 70%;
	font-size: 13px;
	height: 15px;
	line-height: 15px;
	margin-top: 13px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.listview .time
{
	color: rgb(149,149,149);
	font-size: 10px;
	height: 11px;
	line-height: 11px;
	margin-top: 6px;
}
#tab1 .feed
{
	margin-bottom: 5.7px;
}
#page_news .tab-item{
	color:rgb(172,172,172);
	border-bottom: 0px solid rgb(71,176,199);
}
#page_news .content{
	position : absolute;
	top : 71px;
	width:100%;
	bottom : 0;
}
#page_news .up
{
	color: rgb(71,169,199);
}
#page_news .down
{
	color: rgb(149,149,149);
}
.addfollow,.followed
{
	position:relative;
	float:right;
	top:10px;
	width:33px;
	height:15px;
	line-height: 15px;
	text-align: center;
	border-radius: 4px;
	color: rgb(71,176,199);
	margin-top:8px;
	margin-right: 4.8%;
	padding:2px 5px;
	border: solid 1px rgb(71,176,199);
	font-size: 10px;
}
.followed
{
	color:rgb(149,149,149);
	border: solid 1px rgb(149,149,149);
}