<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>Feeds Detail</title>
		<link rel="stylesheet" type="text/css" href="../bower_components/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/app_index.css" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="../css/Feed.css" />
		<link rel="stylesheet" type="text/css" href="../css/page_feeds_detail.css" />
		<style>
		
		</style>
	</head>
	<body>
		
	</body>
</html>
